body {
  background-color:#2C2B3D;
  color: #fff;
}

.page{
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  padding-top: 71px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;


}
ul{
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}